@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Zaštićeno!</h1>
<h2>Pozdrav @User.Identity.Name</h2>
<h3>Osim prava koja ima svaki javni korisnik, administrator ima dodatna prava brisanja vremena iz liste.
    NAPOMENA: Brisanje vremena zahtjeva potvrdu korisnika.</h3>
